{% extends 'base/base.html' %}

{% block content %}

<h1>Songs</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Submit</button>
</form>

<form action="" method="get" class="row row-cols-lg-auto g-3 align-items-center mt-5">
    <div class="col-12">
        <label for="search_song">Search: </label>
    </div>
    <div class="col-12">
        <input class="form-control" type="text" name="search_song" id="search_song" />
    </div>
    <div class="col-12">
        <button class="btn btn-success" type="submit">Search</button>
    </div>   
</form>

<table class="table table-striped mt-2">
    <thead class="table table-success">
        <th>Name</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.name }}</td>
                <td>{{ song.album.title }}</td>
                <td>{{ song.album.artist }}</td>
                <td>
                    <a href="{% url 'another_page_one' song.pk %}" class="btn btn-sm btn-success"><i data-feather="edit-3"></i></a>
                    <a href="{% url 'delete_song' song.pk %}" class="btn btn-sm btn-danger"><i data-feather="trash-2"></i></a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No song(s) found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}